<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthiera.mobile">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DB credential -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="healthiera.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.healthiera.mobile.entity.Procedure, com.healthiera.mobile.entity.Calendar,com.healthiera.mobile.entity.Doctor,com.healthiera.mobile.entity.Event,com.healthiera.mobile.entity.Measurement,com.healthiera.mobile.entity.Medication,com.healthiera.mobile.entity.Profile,com.healthiera.mobile.entity.Schedule,com.healthiera.mobile.entity.Setting, com.healthiera.mobile.entity.Goals" />

        <!-- AHBottomNavigation credential -->
        <com.aurelhubert.ahbottomnavigation.AHBottomNavigation
            android:id="@+id/bottom_navigation"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />

        <activity android:name=".fragment.BaseFragment$ProviderDescription" />


    </application>

</manifest>